.PreviewItem {
    float: left;
    width: 200px;
    text-align: center;
    margin-left: 35px;
}

.PreviewTitle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
}

.PreviewItem img {
    height: 200px;
    width: 200px; /* Added this again because it didn't work in PreviewItem for some reason. */
    border-radius: 10%;
    object-fit: cover;
}

.PreviewText {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272C8F; /* Tried using vendor prefixes, but I just couldn't get them to work for some reason. */
    height: 200px;
    color: white;
    border-radius: 10%;
}