.PreviewItem {
    float: left;
    width: max(200px, 16vw);
    text-align: center;
    margin-left: max(17.5px, 1vw);
    margin-right: max(17.5px, 1vw);
}

.PreviewTitle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max(40px, 10vh);
    color: white;
    font-size: clamp(15px, 1.5vw, 30px);
}

.PreviewItem img {
    height: max(200px, 31vh);
    width: max(200px, 16vw); /* Added this again because it didn't work in PreviewItem for some reason. */
    border-radius: 10%;
    object-fit: cover;
    border: 1px solid transparent;
}

.PreviewItem img:hover {
    border-color: red;
}

.PreviewText {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Tried using vendor prefixes, but I just couldn't get them to work for some reason. */
    background-color: #272C8F;
    height: max(200px, 31vh);
    color: white;
    border-radius: 10%;
    /* font-size: 20px; */
    font-size: clamp(15px, 1.5vw, 30px);
}

.PreviewList {
    margin-left: max(0px, 2.75vw);
    margin-right: max(0px, 1vw);
}